extends ../partials/head.pug
block content
  .header-wrapper
    a.header-wrapper-home(href="/") sohbet
    li.navbar
      a(href='/howto') oynanış
      a(href="/about") hakkında
      a(href="mailto:merits.septets_06@icloud.com") iletişim
  block main
  //- include ../partials/footer.pug
