extends ../partials/head.pug
block content
  .header-wrapper
    a.header-wrapper-home(href="/") Home
    li.navbar
      a(href='/howto') How to?
      a(href="/about") About
      a(href="/contact") Contact
  block main
  include ../partials/footer.pug
