extends ../partials/header.pug
block main
  .body-wrapper
    .body-wrapper-content
      h1.body-wrapper-content-header Hakkında
      p.body-wrapper-content-text 
        | Bu web uygulaması, kullanıcıların 1 dakika boyunca birbirleriyle sohbet etmelerini ve karşılarındaki kişinin bir yapay zeka botu mu yoksa bir insan mı
        | olduğunu tahmin etmelerini sağlayan eğlenceli bir deneyim sunar. İki oyuncu eşleşir ve karşılarında neyin olduğunu bilmeden sohbet ederler. Sohbetin 
        | sonunda, her oyuncu, karşındakinin bot mu yoksa insan mı olduğunu tahmin eder. Eğer her iki oyuncu da insansa, bir oyuncu bot taklidi yaparak karşısındaki
        | kişiyi yanıltmaya çalışabilir, başarılı olursa ekstra puan kazanır.
      p.body-wrapper-content-text 
        | Amacımız, oyunculara hem eğlenceli hem de düşündürücü bir deneyim sunmak, yapay zeka ve insan etkileşimleriyle ilgili eğlenceli bir deneyim yaşatmaktır.
