extends ../partials/header.pug
block main
  .body-wrapper
    .body-wrapper-content
      h1.body-wrapper-content-header Nasıl Oynanır?
      p.body-wrapper-content-text 
        | Bu oyunda iki oyuncu birbiriyle rastgele eşleşir ve karşısındaki kişinin insan mı yoksa bir yapay zeka botu mu olduğunu bilmeye çalışır.
      p.body-wrapper-content-text 
        strong 1. Bot Taklidi Stratejisi: 
        | Eğer ikiniz de insansanız, biriniz bot taklidi yaparak karşı tarafı şaşırtabilir. Karşınızdakini bot olduğunuza inandırmayı başarırsanız ekstra puan kazanabilirsiniz.
      p.body-wrapper-content-text 
        strong 2. Tahmin Zamanı: 
        | 1 dakika dolduğunda, konuştuğunuz kişinin insan mı yoksa yapay zeka mı olduğunu tahmin edin. Doğru tahminler puan kazandırır!
      p.body-wrapper-content-text 
        strong 3. Puanlama:
      p.body-wrapper-content-text 
        | - Doğru tahmin ettiğinizde puan kazanırsınız.
      p.body-wrapper-content-text 
        | - Eğer ikiniz de insansanız ve bot taklidi yaparak karşı tarafı inandırmayı başarırsanız, ekstra puan alırsınız.
