extends ../partials/header.pug
block main
  div.body-wrapper
    div.body-wrapper-content
      input.body-wrapper-content-btn(type="button", value="oyna")
      div.body-wrapper-content-text konuşmaya başlamak için oyna butonuna basın