:root {
  --body-wrapper-width: 80vw;
  --body-wrapper-height: 80vh;
  --body-wrapper-bg-color: #387478;
  --button-bg-color: #629584;
  --input-bg-color: #E2F1E7;
  --button-text-color: #fff;
  --text-color: #fff;
}

.display-none {
  display: none !important;
}

.body-wrapper-content-button {
  display: flex;
  width: 10rem;
  min-width: var(--button-min-width);
  height: 4rem;
  min-height: var(--button-min-height);
  font-family: "Pixelify Sans", sans-serif;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 2.2rem;
  align-items: center;
  justify-content: center;
}

.body-wrapper-content-button:disabled {
  cursor: not-allowed;
}

.body-wrapper-content-button:hover {
  opacity: 0.8;
}

.body-wrapper-content-text {
  color: var(--text-color);
  margin-top: 1rem;
  font-size: 2rem;
  min-width: var(--div-min-width);
  min-height: var(--div-min-height);
}

.body-wrapper-chat-box,
.body-wrapper-chat-text-input-wrapper {
  width: var(--body-wrapper-width);
  min-width: var(--div-min-width);
  margin: 0 auto;
}

.body-wrapper-chat-box {
  height: 70vh;
  border-radius: 15px;
  overflow-y: auto;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-height: var(--div-min-height);
}

.body-wrapper-chat-text-input-wrapper {
  height: 10vh;
  min-height: var(--div-min-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.body-wrapper-chat-text-input-wrapper-timer,
.body-wrapper-chat-text-input-wrapper-input,
.body-wrapper-chat-text-input-wrapper-btn {
  height: 2.5rem;
  min-height: var(--button-min-height);
  border-radius: 7.5px;
  font-family: "Pixelify Sans", sans-serif;
}

.body-wrapper-chat-text-input-wrapper-timer {
  display: flex;
  width: 10%;
  min-width: var(--button-min-width);
  background-color: var(--input-bg-color);
  margin-left: 1rem;
  font-size: 1.5rem;
  color: #000;
  justify-content: center;
  align-items: center;
}

.body-wrapper-chat-text-input-wrapper-input {
  width: 70%;
  min-width: calc(var(--button-min-width) * 3);
  background-color: var(--input-bg-color);
  border: none;
  font-size: 1.5rem;
}

.body-wrapper-chat-text-input-wrapper-btn {
  width: 10%;
  min-width: var(--button-min-width);
  background-color: var(--button-bg-color);
  color: var(--text-color);
  border: none;
  margin-right: 1rem;
  font-size: 1.5rem;
}

.body-wrapper-chat-text-input-wrapper-btn:hover {
  opacity: 0.8;
}

.chat-message-self,
.chat-message-opponent {
  background-color: #d1e7dd;
  color: #0f5132;
  padding: 0.5rem;
  border-radius: 15px;
  max-width: 70%;
  word-wrap: break-word;
}

.chat-message-self {
  align-self: flex-end;
  margin-right: 1rem;
}

.chat-message-opponent {
  align-self: flex-start;
  margin-left: 1rem;
}

.decision-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: var(--body-wrapper-width);
  min-width: var(--body-wrapper-width);
  height: var(--body-wrapper-height);
  min-height: var(--body-wrapper-height);
  backdrop-filter: blur(10px);
  border-radius: var(--div-min-height);
}

.decision-question {
  font-size: 2rem;
  min-width: var(--div-min-width);
  min-height: var(--div-min-height);
}

.decision-wrapper-buttons {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.decision-wrapper-button {
  font-family: "Pixelify Sans", sans-serif;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1.5rem;
  text-align: center;
  min-width: var(--button-min-width);
  min-height: var(--button-min-height);
}

.decision-wrapper-button:hover {
  opacity: 0.8;
}

.result-text {
  font-size: 2rem;
  min-width: var(--div-min-width);
  min-height: var(--div-min-height);
}

.result-button {
  font-size: 1.5rem;
  text-decoration: none;
  min-width: var(--button-min-width);
  min-height: var(--button-min-height);
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  padding: var(--button-padding);
  border-radius: var(--border-radius-md);
}