:root {
  --body-wrapper-height: 80vh;
  --body-wrapper-bg-color: #387478;
  --button-bg-color: #629584;
  --input-bg-color: #E2F1E7;
  --button-text-color: #fff;
  --text-color: #fff;
  --button-width: 6rem;
}

.display-none {
  display: none !important;
}

.body-wrapper-content-button {
  display: flex;
  width: 10rem;
  min-width: var(--button-min-width);
  height: 4rem;
  min-height: var(--button-min-height);
  font-family: "Pixelify Sans", sans-serif;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: var(--border-radius-md);
  cursor: pointer;
  font-size: 2.2rem;
  align-items: center;
  justify-content: center;
}

.body-wrapper-content-button:disabled {
  cursor: not-allowed;
}

.body-wrapper-content-button:hover {
  opacity: 0.8;
}

.body-wrapper-content-text {
  color: var(--text-color);
  margin-top: 1rem;
  font-size: 2rem;
  min-width: var(--div-min-width);
  min-height: var(--div-min-height);
}

.body-wrapper-chat-box,
.body-wrapper-chat-text-input-wrapper {
  width: 100%;
  min-width: var(--div-min-width);
  padding: 25px;
  gap: var(--spacing);  
}

.body-wrapper-chat-box {
  border-radius: var(--border-radius-md);
  overflow-y: auto;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.5rem;
  min-height: var(--div-min-height);
}

.body-wrapper-chat-text-input-wrapper {
  min-height: var(--div-min-height);
  display: flex;
  align-items: center;
}

.body-wrapper-chat-text-input-wrapper-timer,
.body-wrapper-chat-text-input-wrapper-input,
.body-wrapper-chat-text-input-wrapper-btn {
  height: 2.5rem;
  min-height: var(--button-min-height);
  border-radius: var(--border-radius-sm);
  font-family: "Pixelify Sans", sans-serif;
}

.body-wrapper-chat-text-input-wrapper-timer {
  display: flex;
  min-width: var(--button-width);
  width: var(--button-width);
  background-color: var(--input-bg-color);
  font-size: 1.5rem;
  color: #000;
  justify-content: center;
  align-items: center;
}

.body-wrapper-chat-text-input-wrapper-input {
  display: flex;
  flex: 1;
  background-color: var(--input-bg-color);
  outline: none;
  border: none;
  font-size: 1.5rem;
  min-width: calc(100% - 2 * var(--button-width) - 4 * var(--spacing));
  width: calc(100% - 2 * var(--button-width) - 4 * var(--spacing));
}

.body-wrapper-chat-text-input-wrapper-btn {
  min-width: var(--button-width);
  width: var(--button-width);
  background-color: var(--button-bg-color);
  color: var(--text-color);
  border: none;
  font-size: 1.5rem;
}

.body-wrapper-chat-text-input-wrapper-btn:hover {
  opacity: 0.8;
}

.chat-message-self,
.chat-message-opponent {
  background-color: #d1e7dd;
  color: #0f5132;
  padding: 0.5rem;
  border-radius: var(--border-radius-md);
  max-width: 70%;
  word-wrap: break-word;
  font-size: 1.2rem;
}

.chat-message-self {
  align-self: flex-end;
  margin-right: 1rem;
}

.chat-message-opponent {
  align-self: flex-start;
  margin-left: 1rem;
  background-color: #629584;
  color: #0c3b25;
}

.decision-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
  backdrop-filter: blur(10px);
  border-radius: 0px;
}

.decision-question {
  font-size: 2rem;
  min-width: var(--div-min-width);
  min-height: var(--div-min-height);
}

.decision-wrapper-buttons {
  display: flex;
  gap: var(--spacing);
}

.decision-wrapper-button {
  font-family: "Pixelify Sans", sans-serif;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: var(--border-radius-md);
  cursor: pointer;
  font-size: 1.5rem;
  text-align: center;
  min-width: var(--button-min-width);
  min-height: var(--button-min-height);
}

.decision-wrapper-button:hover {
  opacity: 0.8;
}

.result-text {
  font-size: 2rem;
  min-width: var(--div-min-width);
  min-height: var(--div-min-height);
}

.result-button {
  font-size: 1.5rem;
  text-decoration: none;
  min-width: var(--button-min-width);
  min-height: var(--button-min-height);
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  padding: var(--button-padding);
  border-radius: var(--border-radius-md);
}