* {
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Pixelify Sans", sans-serif;
}

:root {
  --primary-bg-color: #387478;
  --secondary-bg-color: #243642;
  --navbar-text-color: #fff;
  --button-bg-color: #629584;
  --button-text-color: #fff;
  --text-color: #fff;
  --wrapper-width: 80vw;
  --wrapper-height: 80vh;
  --navbar-padding: 1.5rem;
  --button-padding: 0.7rem 1.5rem;
  --border-radius-lg: 30px;
  --border-radius-md: 15px;
  --border-radius-sm: 7.5px;
  --button-min-width: 8rem; /* New min-width for buttons */
  --button-min-height: 2.5rem; /* New min-height for buttons */
  --div-min-width: 10rem; /* New min-width for divs */
  --div-min-height: 4rem; /* New min-height for divs */
}

.body-wrapper {
  position: relative;
  margin: 0 auto;
  width: var(--wrapper-width);
  height: var(--wrapper-height);
  display: flex;
  color: var(--text-color);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--primary-bg-color);
  border-radius: var(--border-radius-lg);
}
