:root {
  --navbar-text-color: #fff;
  --navbar-button-color: #387478;
  --navbar-padding: 1.5rem;
  --navbar-link-spacing: 3rem;
  --navbar-buttons-border-radius: 30px;
}

body {
  margin: 0;
  background-color: #243642;
  font-family: "Pixelify Sans", sans-serif;
}
  
.header-wrapper {
  width: 80vw;
  display: flex;
  align-items: center;
  padding: var(--navbar-padding);
  margin: 0 auto;
}

.header-wrapper-home {
  color: var(--navbar-text-color);
  border-radius: var(--navbar-buttons-border-radius);
  padding: 0.7rem 1.5rem;
  background-color: var(--navbar-button-color);
  text-decoration: none;
}

.header-wrapper-home:hover {
  opacity: 0.5;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
  
.navbar a {
  color: var(--navbar-text-color);
  margin-left: var(--navbar-link-spacing);
  border-radius: var(--navbar-buttons-border-radius);
  padding: 0.7rem 1.5rem;
  background-color: var(--navbar-button-color);
  text-decoration: none;
}

.navbar a:hover {
  opacity: 0.5;
}